html,
body{
    align-items: center;
    background: #f2f4f8;
    border: 0;
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
}
form{
    --background:white;
    --border:rgba(0,0,0,0.125);
    --borderDark:rgba(0,0,0,0.25);
    --borderDarker:rgba(0,0,0,0.5);
    --bgColorH:0;
    --bgColorS:0%;
    --bgColorL:98%;
    --fgColorH:210;
    --fgColorS:50%;
    --fgColorL:38%;
    --shadeDark:0.3;
    --shadeLight:0.7;
    --shadeNormal:0.5;
    --borderRadius:0.125rem;
    --highlight:#306090;
    background: white;
    border: 1px solid var(--border);
    border-radius: var(--borderRadius);
    box-shadow: 0 1rem 1rem -0.75rem var(--border);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position:relative ;
    overflow: hidden; 

}
form .email,
form .email a{
    color: hsl(var(--fgColorH), var(--fgColorS), var(--fgColorL));
    font-size: 0.825rem;
    order: 4;
    text-align: center;
    margin-top: 0.25rem;
    outline: 1 px dashed transparent;
    outline-offset: 2px;
    display: inline;
}
form a:hover{
    color: hsl(var(--fgColorH), var(--fgColorS), calc(var(--fgColorL) * 0.85));
    transition: color 0.25s;
}
form a:focus{
    color: hsl(var(--fgColorH), var(--fgColorS), calc(var(--fgColorL) * 0.85));
    outline: 1px dashed hsl(var(--fgColorH), calc(var(--fgColorS) * 2)calc(var(--fgColorL) * 1.15));
    outline-offset: 2px;
}
from>div{
    order:2;
}
label{
    display: flex;
    flex-direction: column;
}


label>span{
    color: var(--borderDarker);
    display: block;
    font-size: 0.825rem;
    margin-top: 0.625rem;
    order: 1;
    transition: all 0.25s;
}

label>span.required::after{
    content: "*";
    color: #dd6666;
    margin-left: 0.125rem;
}
label input{
    order: 2;
    outline: none;
}
label input::placeholder{
    color: var(--borderDark);
}